<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" th:href="@{/conditions.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Conditions</title>
    <link rel="shortcut icon" href="/images/353431-32.png">
<!--    <link rel="stylesheet" href="styles/conditions.css" type="text/css">-->
    <div class="header-bg">
        <img class="logo" src="/images/mainlogo-512.png" alt="logo">
        <div class="header-info"></div>

        <img src="/images/phone.png" alt="phone" class="phone">
        <div class="info">Contact us: <br>
            +373 (69) 922 424<br>
            +373 (69) 873 766
        </div>
        <div class="media">
            <!-- uSocial -->
            <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
            <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
            <!-- /uSocial -->
        </div>
    </div>
</head>
<body>
<div class="line">
    <ul class="menu">
        <li><a th:href="@{/onIndex}">Main Page</a></li>
        <li><a th:href="@{/onCarfleet}">Car Fleet</a></li>
        <li><a th:href="@{/onConditions}">Conditions</a></li>
        <li><a th:href="@{/onLeasing}">Leasing Services</a></li>
        <li><a th:href="@{/onMaintenance}">Maintenance</a></li>
        <li><a th:href="@{/onContacts}">Contacts</a></li>
    </ul>
</div>

<div class="body">

    <div class="conditions">
        <p class="main3">OUR CONDITIONS</p>
        <ul>
            <li class="point"><p class="text4">General Rental Conditions).</p>
                <p class="text5">The renter and the driver have to be in possession of a valid driving licence.<br>
                    A licence issued in Roman lettering must be presented. If license is not in Roman lettering, the International driver's license must be presented.<br>
                    Please show a valid ID card or passport at time of pick up!</p>
            </li>
            <li class="point"><p class="text4">Age Restrictions.</p>
                <p class="text5">In Moldova the following rules apply for the minimum age and possession of a driver's licence:<br>
                    21 years/2 years for all vehicles.</p>
            </li>
            <li class="point"><p class="text4">Conditions of Payment.</p>
                <p class="text5">We accept credit cards from internationally recognised credit card companies - such as Eurocard/Mastercard, Visa.<br>
                    We do not accept any prepaid cards or debit cards (Visa Electron).<br>
                    American Express Credit Cards are not accepted.</p>
            </li>
            <li class="point"><p class="text4">Third Party Insurance (TI).</p>
                <p class="text5">Insurance coverage for the vehicle rented includes Third Party Liability with a maximum cover of about EUR 31000. ( 500000 LEI)- for and material damages. Maximum cover for personal injuries is about EUR 28700.(350000 LEI)- per injured person per insured event but not more than EUR 43750 ( 700000 LEI) for all injured persons.<br>
                    Excluded from the insurance is the use of the vehicle for the transport of dangerous goods. All insurance cover as part of the rental contract will become void, in particular, if an unauthorized driver has used the vehicle or if the driver of the vehicle does not possess the required driver's licence at the time of the event giving rise to claim.<br>
                    Delivery & Collection</p>
            </li>
            <li class="point"><p class="text4">During Opening Hours.</p>
                <p class="text5">Within city limits a Delivery/Collection Service charge of EUR 10.- applies.<br>
                    (Delivery = DL<br>
                    Collection = CO).</p>
            </li>
            <li class="point"><p class="text4">Out Of Hours.</p>
                <p class="text5">An Out Of Hours surcharge of EUR 20.- occurs for bookings out of opening hours.<br>
                    (Out Of Hours = ES)</p>
            </li>
            <li class="point"><p class="text4">Cross Border Rentals & Territorial Restrictions.</p>
                <p class="text5">Cross Border Rentals are subject to negotiations.</p>
            </li>
            <li class="point"><p class="text4">Additional Driver. </p>
                <p class="text5">An Additional Driver Surcharge of EUR 15.- per rental applies.<br>
                    (Additional Driver = AD)</p>
            </li>
            <li class="point"><p class="text4">Refuelling Charge. </p>
                <p class="text5">All vehicles are supplied with a full tank of fuel and should be refilled prior to return , otherwise a charge of EUR 1.00 per litre of petrol or EUR 1.00 per litre of diesel will apply.<br>
                    (Fuel = FC)<br>
                    For corporate customers with individual agreements alternative prices and regulations can apply.</p>
            </li>
        </ul>
    </div>

    <div class="rental">
        <h3 class="rental2">Car Rental</h3>
        <pre class="text2">
If you decide to use the services of
car rental, but have not yet decided
what kind of car you need,we are
pleased to present you with a
complete list of cars in our fleet.
The cost of a particular group of cars
depends on the selected rental period.
To accurately determine the prices,
go to the order page. Unfortunately we
can not guarantee the provision
of a specific car in your chosen
group, but we always take into
account your wishes.</pre>
    </div>
    <a href=""><img src="/images/bla.png" id="ad"></a>
    <a href=""><img src="/images/bla2.png" id="ad2"></a>
</div>

</div>

<div class="footer">
    <div class="company">
        <h3>About us:</h3>
        <pre>
    Rent a car from PRIME-AUTO company - is a service of the
    highest quality at the global level of service standards,
    as well as solutions are unique and special fares.
    Stay current with the best offers of car rental in Moldova.
                </pre>
    </div>
    <img src="/images/phone.png" alt="phone" class="phone2">
    <div class="info2">Contact us: <br>
        +373 (69) 922 424<br>
        +373 (69) 873 766
    </div>
    <div class="media2">
        <!-- uSocial -->
        <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
        <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
        <!-- /uSocial -->
    </div>
    <div class="srl">
        2020 "Prime-auto rent and leasing" SRL
    </div>
</div>
</body>
</html>
