<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" th:href="@{/leasing.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Leasing Services</title>
    <link rel="shortcut icon" href="/images/353431-32.png">
    <link rel="stylesheet" href="/leasing.css" type="text/css">
    <div class="header-bg">
        <img class="logo" src="/images/mainlogo-512.png" alt="logo">
        <div class="header-info"></div>

        <img src="/images/phone.png" alt="phone" class="phone">
        <div class="info">Contact us: <br>
            +373 (69) 922 424<br>
            +373 (69) 873 766
        </div>
        <div class="media">
            <!-- uSocial -->
            <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
            <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
            <!-- /uSocial -->
        </div>
    </div>
</head>
<body>
<div class="line">
    <ul class="menu">
        <li><a th:href="@{/onIndex}">Main Page</a></li>
        <li><a th:href="@{/onCarfleet}">Car Fleet</a></li>
        <li><a th:href="@{/onConditions}">Conditions</a></li>
        <li><a th:href="@{/onLeasing}">Leasing Services</a></li>
        <li><a th:href="@{/onMaintenance}">Maintenance</a></li>
        <li><a th:href="@{/onContacts}">Contacts</a></li>
    </ul>
</div>

<div class="bodyLeas">


    <div class="service">
        <div class="">
            <p class="main4">PERATIONAL LEASING - solution to your problems</p>
            <p class="text6">
                Company "PRIME-AUTO rent & leasing" provides the Moldovan market services for operational leasing or rental cars, as
                well as their purchase, lease-back and maintenance, car rental with driver, transfers, leasing business package,
                fleet management, car reservations abroad. We offer new cars from subcompact to luxury.<br><br>
                What is the operational leasing?<br><br>This service for corporate clients and legal persons having a need for professional
                services company car fleet. Our company will provide full range of services ranging from financing the acquisition of vehicles to complete their maintenance during operation.
                In order to provide technical support for company cars «PRIME-AUTO rent & leasing» has partnered with specialized service stations.<br><br>
                The work is organized so that our managers spend planned service, repair, sign acts, financial payment, freeing the client from any trouble in connection with the operation of a vehicle and insurance case.
                Working with top insurance companies, we now have insurance emergency commissioners in different regions of Moldova.<br><br>
                Our representatives will provide full management of insurance claims, damages, negotiating with a third party and the Traffic Police authorities, the implementation of the repair work without waiting for insurance reimbursement
                To provide technical assistance allocate 24\24 telephone line . On this phone are accepted as planned bid for the maintenance and emergency calls for technical assistance .
                This line provides advice in insurance cases , expert advice on the service, the ability to call a company representative to resolve issues with the Traffic Police and the third party , the ability to call a tow truck . Our experts will help you decide whether to call an insurance inspector for minor injuries or adequacy of photos with the date in a few days.
                To preserve the mobility of your employees in the event of an insured event , we provide the service as a courtesy car ( for cars ).<br><br> Term of swing cars - up to 48 hours . The cost of this service may be equal to the cost of the monthly lease payment
                is proportional to the number of days used. When bringing the park up to 15 cars , the service is free. At the park over 30 cars for the company is secured with two swing car , and you can get a car, in Moldova and in other regions.<br><br>
                Realizing that in the process of operational work arises necessity to the employees with the official cars had to go to other countries, we provide a service for the design of the green card when traveling abroad.<br><br>
                We can offer you the service to ensure the car fuel. This service is based on the maintenance and replenishment of gasoline cards.<br><br>
                Long-term strategy involves providing innovative and flexible products and services in business and preservation of individual mobility customers.
                Regarding the main activities we offer a modern quality service with unmatched monetary policy . <br><br>Our goal - to satisfy the needs of each client. High motivation , relevant professional level of our employees , flexible individual approach to each client is the guarantee of the highest quality service .
                <br><br><h3 class="disc">For regular customers discounts!</h3>
            </p>
        </div>

        <div class="rental">
            <h3 class="rental2">Car Rental</h3>
            <pre class="text2">
If you decide to use the services of
car rental, but have not yet decided
what kind of car you need,we are
pleased to present you with a
complete list of cars in our fleet.
The cost of a particular group of cars
depends on the selected rental period.
To accurately determine the prices,
go to the order page. Unfortunately we
can not guarantee the provision
of a specific car in your chosen
group, but we always take into
account your wishes.</pre>
        </div>
        <a href=""><img src="/images/bla.png" id="ad"></a>
        <a href=""><img src="/images/bla2.png" id="ad2"></a>
    </div>


</div>
<div class="footer">
    <div class="company">
        <h3>About us:</h3>
        <pre>
    Rent a car from PRIME-AUTO company - is a service of the
    highest quality at the global level of service standards,
    as well as solutions are unique and special fares.
    Stay current with the best offers of car rental in Moldova.
                </pre>
    </div>
    <img src="/images/phone.png" alt="phone" class="phone2">
    <div class="info2">Contact us: <br>
        +373 (69) 922 424<br>
        +373 (69) 873 766
    </div>
    <div class="media2">
        <!-- uSocial -->
        <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
        <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
        <!-- /uSocial -->
    </div>
    <div class="srl">
        2020 "Prime-auto rent and leasing" SRL
    </div>
</div>
</body>
</html>

