<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" th:href="@{/maintenance.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <link rel="shortcut icon" href="/images/353431-32.png">
    <link rel="stylesheet" href="/maintenance.css" type="text/css">
    <div class="header-bg">
        <img class="logo" src="/images/mainlogo-512.png" alt="logo">
        <div class="header-info"></div>

        <img src="/images/phone.png" alt="phone" class="phone">
        <div class="info">Contact us: <br>
            +373 (69) 922 424<br>
            +373 (69) 873 766
        </div>
        <div class="media">
            <!-- uSocial -->
            <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
            <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
            <!-- /uSocial -->
        </div>
    </div>
</head>
<body>
<div class="line">
    <ul class="menu">
        <li><a th:href="@{/onIndex}">Main Page</a></li>
        <li><a th:href="@{/onCarfleet}">Car Fleet</a></li>
        <li><a th:href="@{/onConditions}">Conditions</a></li>
        <li><a th:href="@{/onLeasing}">Leasing Services</a></li>
        <li><a th:href="@{/onMaintenance}">Maintenance</a></li>
        <li><a th:href="@{/onContacts}">Contacts</a></li>
    </ul>
</div>

<div class="body">
    <div class="main">
        <img class="main2" src="/images/repair.png">
        <div class="sloy">
        </div>
        <p class="text1">QUALIFIED MECHANICS</p>
        <div class="vector"></div>
        <p class="text3">WE PROVIDE ONE OF THE BEST AND QUICK ASSISTANCE</p>
    </div>
    <div class="info3">

        <p class="main3">OUR SERVICE PROVIDE</p>
        <ul>
            <li class="point"><p class="text4">Track up to 10 (home edition), 50 (professional edition) or an unlimited number of vehicles (fleet edition).</p></li>
            <li class="point"><p class="text4">Schedule recurring maintenance and inspection items by miles, kilometers, or hours.</p></li>
            <li class="point"><p class="text4">Track your vehicle's fuel efficiency over time (miles/gallon, kilometers/liter)..</p></li>
            <li class="point"><p class="text4">Contributes to cleaner environment</p></li>
            <li class="point"><p class="text4">Maintain a database of the parts used on your vehicles.</p></li>
            <li class="point"><p class="text4">Higher electronic system diagnostic.</p></li>
            <li class="point"><p class="text4">Track related vendors and contacts.</p></li>
            <li class="point"><p class="text4">Print reports and export to various formats. </p></li>
            <li class="point"><p class="text4">Track drivers and their licenses/certifications/accidents (Pro and Fleet versions only). </p></li>
        </ul>
        <p class="main3">VEHICLE MANAGER BENEFITS</p>
        <p class="text5">
            Introduction.<br>
            A disciplined approach to service and maintenance is critical to keep your vehicle or equipment in top condition and maintain it's resale value. Maintain your vehicle log book on your computer and get reminders when service is due with Vehicle Manager.<br>
            <br>
            Track your vehicle's fuel efficiency.<br>
            When you fill up your tank, keep your receipt and then enter the usage data into Vehicle Manager. Your fuel efficiency will be calculated, and you can identify long term trends to help spot problems before unplanned critical service becomes due.<br>
            <br>
            Track your vehicle's service schedules and service history.<br>
            With Vehicle Manager you can create a unique service schedule for each vehicle you own. Vehicle Manager reminds you as the service due date comes near. Easily track the service status for all of your vehicles and equipment with simple red, yellow, green status indicators. When the service has been finished, just mark the item as complete to automatically add it to your vehicle's service history.<br>
            <br>
            Track your vehicle's drivers, parts, vendors, and contacts.<br>
            When replacing parts on your vehicles, add the parts, vendors, and contacts to your Vehicle Manager database. If the part needs to be replaced again, you'll have all the information you need right at your fingertips.
        </p>
    </div>

    <div class="rental">
        <h3 class="rental2">Car Rental</h3>
        <pre class="text2">
If you decide to use the services of
car rental, but have not yet decided
what kind of car you need,we are
pleased to present you with a
complete list of cars in our fleet.
The cost of a particular group of cars
depends on the selected rental period.
To accurately determine the prices,
go to the order page. Unfortunately we
can not guarantee the provision
of a specific car in your chosen
group, but we always take into
account your wishes.</pre>
    </div>
    <a href=""><img src="/images/bla.png" id="ad"></a>
    <a href=""><img src="/images/bla2.png" id="ad2"></a>
</div>

</div>

<div class="footer">
    <div class="company">
        <h3>About us:</h3>
        <pre>
    Rent a car from PRIME-AUTO company - is a service of the
    highest quality at the global level of service standards,
    as well as solutions are unique and special fares.
    Stay current with the best offers of car rental in Moldova.
                </pre>
    </div>
    <img src="/images/phone.png" alt="phone" class="phone2">
    <div class="info2">Contact us: <br>
        +373 (69) 922 424<br>
        +373 (69) 873 766
    </div>
    <div class="media2">
        <!-- uSocial -->
        <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
        <div class="uSocial-Share" data-pid="b1c54dfa53ace7fc15acf190b33cae9d" data-type="share" data-options="rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,twi" data-mobile="vi,wa,sms"></div>
        <!-- /uSocial -->
    </div>
    <div class="srl">
        2020 "Prime-auto rent and leasing" SRL
    </div>
</div>
</body>
</html>
